<div class="container">
    <div class="consult__inner">
        <div class="contacts">
            <div class="consult__title display2">Контакты</div>
            <div class="contacts__items font2">
                <div class="contacts__item">
                    <div class="contacts__title body-text">Адрес</div>
                    <div class="contacts__desc body-text">141407, Россия, Московская область, г. Химки, улица Бабакина, 5А.</div>
                </div>
                <div class="contacts__item">
                    <div class="contacts__title body-text">Телефон</div>
                    <a href="tel:+74955147836" class="contacts__desc body-text">+7 (495) 514-78-36</a>
                </div>
                <div class="contacts__item">
                    <div class="contacts__title body-text">E-mail</div>
                    <a href="mailto:mail@sc200.ru" class="contacts__desc body-text">mail@sc200.ru</a>
                </div>
            </div>
        </div>
        <div class="req">
            <div class="consult__title display2">Оформить заявку</div>
            <form action="" class="req__form">
                <div class="req__left">
                    <fieldset class="fg">
                        <label>Представьтесь</label>
                        <input type="text">
                    </fieldset>
                    <fieldset class="fg">
                        <label>E-mail</label>
                        <input type="text">
                    </fieldset>
                    <fieldset class="fg">
                        <label>Телефон</label>
                        <input type="text">
                    </fieldset>
                </div>
                <div class="req__right">
                    <fieldset class="fg">
                        <label>Сообщение</label>
                        <textarea></textarea>
                    </fieldset>
                    <div class="req__check check font2">
                        <input checked type="checkbox">
                        <label>
                            Я <a href="">принимаю условия</a> об обработке моих персональных данных
                        </label>
                    </div>
                    <button type="submit" class="req__btn mbtn mbtn-blue">Отправить</button>
                </div>
            </form>
        </div>
    </div>
</div>
