<div class="container">
    <div class="footer__top">
        <div class="footer__nav">
            <a href="" class="footer__link footer__link--active">О компании</a>
            <a href="" class="footer__link">Сервис</a>
            <a href="" class="footer__link">Галерея</a>
            <a href="" class="footer__link">Документы</a>
            <a href="" class="footer__link">Контакты</a>
        </div>
        <div class="footer__phone">
            <div class="footer__phone-title">Телефон для связи</div>
            <a href="tel:+74952553705" class="footer__phone-link">+7 (495) 255-37-05</a>
        </div>
    </div>

    <div class="footer__bottom">
        <div class="footer__copyright">© 2022 г. VECTOR SE - грузопассажирские подъемники</div>
        <div class="footer__by">
            <a href="" class="text-link">Создание сайта</a> LogicStudio.Ru
        </div>
    </div>
</div>
