<div class="container">
    <div class="header__inner">
        <a href="" class="header__logo">
            <img src="img/logo.svg" alt="">
        </a>
        <div class="header__right">
            <div class="header__top">
                <a href="tel:+74955147836" class="header__phone">
                    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17">
                        <path d="M17,15.111V13.557A1.889,1.889,0,0,0,15.813,11.8l-1.921-.768a1.889,1.889,0,0,0-2.391.909l-.167.334a9.239,9.239,0,0,1-4.25-2.361,9.239,9.239,0,0,1-2.361-4.25L5.057,5.5a1.889,1.889,0,0,0,.909-2.391L5.2,1.187A1.889,1.889,0,0,0,3.443,0H1.889A1.889,1.889,0,0,0,0,1.889,15.111,15.111,0,0,0,15.111,17,1.889,1.889,0,0,0,17,15.111Z" transform="translate(0 0)" fill="#222"/>
                    </svg>
                    <span>+7 (495) 514-78-36</span>
                </a>
                <button class="header__burger">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>
            <div class="header__mob">
                <nav class="nav">
                    <a href="" class="nav__link nav__link--active">О компании</a>
                    <a href="" class="nav__link">Сервис</a>
                    <a href="" class="nav__link">Галерея</a>
                    <a href="" class="nav__link">Документы</a>
                    <a href="" class="nav__link">Контакты</a>
                </nav>
                <div class="header__phone2">
                    <div class="header__phone2-title">Телефон для связи</div>
                    <a href="tel:+74952553705" class="header__phone2-link">+7 (495) 255-37-05</a>
                </div>
            </div>
        </div>
    </div>
</div>
