$font1:'Montserrat',
sans-serif;
$font2:'Open Sans',
sans-serif;
$black: #333;
$primary: #02459D;
$blue: #0663DE;
$blueGray: #404C64;
$gray:#666666;
$border: 1px solid rgba(#184797, .15);
$bg: rgba(#E0EBEF,.5);
